.header{

    background-color: rgb(245, 174, 42);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/* links */

.linkks{
    background-color:rgb(245, 174, 42);

}